.breadcrumbs {
    margin: 34px auto 82px;
    font-size: 14px;

    @include tab {
        margin: 20px auto 43px;
    }

    span {
        color: #000;

        .fa.fas.fa-chevron-right {
            margin: 0 10px;
        }
    }

    a {
        color: #000;
    }
}